html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
}

#app {
  position: relative;
  width: 3840px;
  height: 2160px;
}

/* Shift the canvas's position to be centered at the exhibit mirror.  */
#blob {
  transform: translate(calc(1px * var(--blob-offset-x)), calc(1px * var(--blob-offset-y)));
}

#dev-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#dev-canvas {
  position: absolute;
  right: 0;
  bottom: 0;
}

#dev-control-panel {
  --scale-factor: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% / var(--scale-factor));
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  transform-origin: top left;
  transform: scale(var(--scale-factor));
}

.lil-gui {
  --widget-height: 20px !important;
  --input-font-size: 11px !important;
  --spacing: 2px !important;
}

#dev-control-panel::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.hidden {
  display: none;
}
