html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

#app {
  position: relative;
  width: 3840px;
  height: 2160px;
}

/* Shift the canvas's position to be centered at the exhibit mirror.  */
.blob {
  transform: translate(calc(1px * var(--blob-offset-x)), calc(1px * var(--blob-offset-y)));
}

.dev-panel {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hidden {
  display: none;
}
